table {
    select {
        display: block;
    }

    input[type=number]:not(.browser-default) {
        margin: 0;
        padding-left: 15px;
        width: 80%;
    }

    td {
        position: relative;
    }

    .prefix {
        position: absolute;
        top: 3.2vh;
        left: 0.3vw;
    }

    .error {
        font-size: 8pt;
        position: absolute;
    }
}