<table>
    <thead>
      <tr>
        <th *ngFor="let header of searchHeaders">
          <app-search-filter (filter)="broadcastFilterChange($event)" [property]="header.property"></app-search-filter>
          {{header.title}}
        </th>
        <th *ngFor="let header of dateHeaders">
          <app-date-filter (filter)="broadcastFilterChange($event)" [property]="header.property"></app-date-filter>
          {{header.title}}
        </th>
      </tr>
    </thead>

    <tbody>
      <tr app-record
        *ngFor="let record of records;"
        [record]="record"
        [owners]="owners"
        [statusTypes]="statusTypes"
        (update)="broadcastRecordChanges($event, record)"
      ></tr>
    </tbody>
  </table>